article {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-content {
    width: 75ch;
    margin: auto 20px;
}

h1 {font-size: 2.7rem;}
h2 {font-size: 1.8rem;}

h1, h2 {
    color: rgb(20, 20, 20);
    margin: 20px 0;
}

p {
    font-size: 1.3rem;
    color: rgb(66, 66, 66);
}


/* images variation */

.centered-image-article img {
    width: 100%;
    max-height: 45vh;
    margin-bottom: 30px;
}

.right-image-article {
    flex-direction: row-reverse;
    align-items: flex-start;
    column-gap: 20px;
}

.left-image-article {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 20px;
}

