@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: whitesmoke;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/* Main body */
.main {
    width: 80%;
    margin: 50px auto;
}

img {
    object-fit: cover;
    width: 500px;
    height: 75vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.featured-article img,
.smaller-articles img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Sticky navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    position: sticky;
    top: 0px;
    height: 60px;
    background-color: whitesmoke;
}

    nav > div {
        display: inline-block;
    }

.nav-left h1 {
    font-size: 3rem;
    transition: font-size 0.5s ease;
    font-weight: 800;
}

#navbar.scrolled .nav-left h1 {
    font-size: 1.5rem;
}

.nav-right a {
    margin: 0 20px;
    color: hsl(0, 0%, 13%);
    transition: color 0.8s ease;
}

    .nav-right a:hover {
        color: hsl(0, 0%, 29%);
    }

/* featured article styling */
.featured-article {
    margin-bottom: 50px;
}

    .featured-article h1 {
        font-size: 2.5rem;
        color: rgb(33, 33, 33);
        margin: 15px 0;
        font-weight: 800;
    }

    .featured-article p {
        font-size: 1.2rem;
        color: rgb(55, 55, 55);
        margin-bottom: 15px;
    }

/* smaller article styling */
.smaller-articles {
    display: flex;
    justify-content: space-between;
}

.article {
    flex: 1;
    margin: 0 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

    .article h2 {
        font-size: 1.8rem;
        color: rgb(33, 33, 33);
        margin: 15px 0;
        font-weight: 800;
    }

    .article p {
        font-size: 1rem;
        color: rgb(66, 66, 66);
        margin-bottom: 15px;
    }

a {
    text-decoration: none;
    color: hsl(204, 100%, 50%);
    transition: color 0.8s;
}

a:hover {
    color: hsl(204, 100%, 30%);
}

/* footer */
footer {
    color: rgb(33, 33, 33);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.social-icons {
    margin-top: 10px;
}

    .social-icons a {
        margin: 0 15px;
        color: hsl(0, 0%, 13%);
        font-size: 1.5rem;
        transition: 0.8s;
    }

    .social-icons a:hover {
       color: hsl(0, 0%, 29%);
    }



/* Media queries */

/* Tablet */
@media screen and (max-width: 1025px){
    .main {
        width: 90%;
    }

    img {
        width: 90%;
        max-height: 35vh;
    }

    .nav-left h1 {
        font-size: 2rem !important;
    }

    .smaller-articles {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }
}


/* Smartphone */
@media screen and (max-width: 650px){
    .main {
        width: 95%;
    }

    img {
        width: 95%;
        max-height: 35vh;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
        height: auto;
    }

    .nav-left h1 {
        font-size: 1.8rem !important;
    }

    .nav-right a {
        margin: 0;
        margin-right: 20px;
    }

    .featured-article h1 {
        font-size: 2rem;
        line-height: 1.4;
    }

    .featured-article p {
        font-size: 1.1rem;
    }

    .article h2 {
        font-size: 1.6rem;
        line-height: 1.4;
    }
}